{{ define "main" }}
  <article>
    <h2>{{ .Title }}</h2>
    {{ with .Date }}
      <p><small><time datetime="{{ .Format "2006-01-02" }}">{{ .Format "2006-01-02" }}</time></small></p>
    {{ end }}
    <div>
      {{ .Content }}
    </div>
  </article>
  <nav style="margin-top:2rem; display:flex; justify-content:space-between; font-size:0.9rem;">
    <div>{{ with .PrevInSection }}← <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>{{ end }}</div>
    <div>{{ with .NextInSection }}<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a> →{{ end }}</div>
  </nav>
{{ end }}
